.main-header {
  border: none !important;
}

.main-header > img {
  opacity: 0.5;
}

.text-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-img-header {
  font-family: "Rubik Moonrocks";
  font-size: 6rem !important;
  margin-top: 5%;
  color: aliceblue;
}

.card-img-col {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* .card-img-col > img {
  width: 47%;
} */
.card-img-col > img {
  width: 351px;
}
.card-content-col {
  display: flex;
  align-items: center;
}

.card {
  align-items: center;
  border: none !important;
}

.card-body > .h5 {
  font-size: xx-large;
  font-weight: 400;
  font-family: inherit;
}

.card-body > p {
  font-size: larger;
  font-weight: 400;
}

@media only screen and (max-width: 1400px) {
}

@media only screen and (max-width: 767px) {
  .reverse-img-contant {
    flex-direction: column-reverse;
  }
  .card-content-col .card-body .card-title {
    width: fit-content;
    margin-right: auto !important;
    margin-left: auto !important;
  }
  .card-body > .h5 {
    font-size: x-large;
  }
  .card-body > p {
    font-size: large;
  }
  .card-img-col > img {
    width: 300px;
  }
  .container {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}

@media only screen and (max-width: 325px) {
  .card-title {
    margin-bottom: 0rem;
  }
  .card-img-col > img {
    width: 200px;
  }
}
