
.Input > input,
.Input > textarea {
  display: unset !important;
  background-color: transparent !important;
  border: none !important;
  border-radius: unset !important;
  border-bottom: 1px solid aquamarine !important;
  color: limegreen !important;
  box-shadow: none !important;
}

.Input > textarea:focus{
  box-shadow: 1px 1px 1px 1px cyan !important;
}

.contact-img-overlay {
  margin-top: 0px;
  display: grid;
  justify-content: center;
  align-items: center;
}

.contect-card {
  height: 730px;
  overflow: hidden;
}

.card-img {
  opacity: 0.5;
}

.contact-card-img {
  height: 100%;
}

.contact-img-overlay > .contact-title {
  display: flex !important;
  justify-content: center !important;
}

.contact-img-overlay > .contact-title > h5 {
  font-size: 38px;
  /* color: lightskyblue; */
}

.contact-btn {
  color: aqua !important;
  width: -webkit-fill-available !important;
  background-color: transparent !important;
  border: 2px solid aquamarine !important;
}
.contact-btn:hover {
  box-shadow: 4px 3px 1.1rem darkcyan;
}

.contact-btn:focus {
  box-shadow: 1px 1px 1px 1px cyan !important;
}
.contact-btn:visited {
  box-shadow: 1px 1px 1px 1px cyan !important;
}

.contact-img-overlay > hr {
  margin: 1rem 0;
  color: inherit;
  background-color: beige;
  border: 1px solid lightskyblue;
  opacity: 0.7;
}

@media only screen and (max-width: 1400px) {
}

@media only screen and (max-width: 767px) {
  .container {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
  }
}

@media only screen and (max-width: 400px) {
  .contact-title > h5 {
    font-size: 28px !important;
  }

  .form-row {
    flex-direction: column;
  }
  .contect-card{
    height: 816px;
  }
  .form-row #formGridName{margin-bottom: 3rem !important;}
}
