@import url("https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap");

.link-hading {
  font-family: "Rubik Moonrocks", cursive;
  font-size: 3.75rem;
}

.navbar {
  margin-left: 5%;
  margin-right: 5%;
  background: transparent !important;
}

.nav-bar-Link {
  font-weight: 900;
  font-size: larger;
  border-radius: 12.2px;
  text-align: center;
}

.nav-bar-Link a {
  border-radius: 12.2px;
}

.nav-bar-Link :hover {
  border-radius: 12.2px;
  background-color: #e3f2ff ;
}

.dropdown-category-list>a:hover{
    background: azure;
}

.button {
  border: none !important;
  background: #f8f8fb !important;
  color: lightseagreen !important;
  font-size: 22px !important;
  font-weight: 400 !important;
  font-family: "Rubik Moonrocks", cursive;
}

.button > i {
  padding-left: 5px;
}

.button:hover {
  background: rgb(210, 205, 205) !important;
  color: rgb(42, 67, 66) !important;
}
